body {
	overflow: auto;
	font-family: 'Century Gothic', sans-serif;
	background-image: url(../img/bckrnd.jpg);
}

#photoBooth {
	margin-top: .2em;
	padding: 10px;
	width: 650px;
	margin-left: auto;
	margin-right: auto;
	background-color: #4287f5;
	background-image: linear-gradient(to right, rgba(46, 61, 44, 0.884), rgb(36, 179, 26) 400px, rgba(46, 61, 44, 0.884) 800px);
	background-size: 800px 100%;
	background-position: 50% 100%;
	background-repeat: no-repeat;
}	

#slideShow {	
	position: relative;
}

.photoHolder {
	position: relative;
	width: 80%;
	margin: 0 auto;
}

.moreIndicator {
	height: 30px;
	width: 50px;
	position: absolute;
	z-index: 3;
	opacity: .8;
	top: 0px;
	
}
.moreIndicator:hover {
	transform:scale(1.3,1.3);
    -webkit-transform:scale(1.3,1.3);
    -moz-transform:scale(1.3,1.3);
	transition: all 0.5s ease;
}

.thumbnail {
	position: relative;
	-webkit-filter: drop-shadow(0px 3px 10px rgba(0,0,0,.8));
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,.8));
	max-width:100%;
}


.banner {
	font-family: Cursive, "Lucida Handwriting";
	color:rgb(255, 226, 193);
	text-align: center;
	font-size: 1.75em;
}

#nav {
	clear: both;
	position: relative;
}

#prevPhoto {
	height: 42px;
	width: 42px;
}

#nextPhoto {
	height: 42px;
	width: 42px;
}

#nextPhoto:hover {
	
	transform:scale(1.3,1.3);
    -webkit-transform:scale(1.3,1.3);
    -moz-transform:scale(1.3,1.3);
	transition: all 0.5s ease;

}

#prevPhoto:hover {
	transform:scale(1.3,1.3);
    -webkit-transform:scale(1.3,1.3);
    -moz-transform:scale(1.3,1.3);
	transition: all 0.5s ease;
}

.details p {
	margin-top: 20px;
	font-family: Cursive, "Lucida Handwriting";
	color:rgb(255, 226, 193);
}
.details {
	border: 5px #5da36f groove;
	padding: 0px 10px;
	margin: 20px 0px;
}

/*Add CSS styles to rotate the element 90deg
Make it animate nicely. You'll need CSS3 for this*/
.rot90 {
	position: absolute;
	rotate: 90deg;
	top: 80%;
	transition: all 1s ease;

	left: 45%;
}

/*Add CSS styles to rotate the element 180deg
Make it animate nicely. You'll need CSS3 for this*/
.rot180 {
	rotate: 180deg;
}

/*Add CSS styles to rotate the element 270deg
Make it animate nicely. You'll need CSS3 for this*/
.rot270 {
	top: 78%;
	left: 45%;
	position: absolute;
	transition: all 1s ease;
	rotate: 270deg;
}